@use "../abstracts/variables" as *;
@use "../abstracts/screen";

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(var(--space-s), var(--grid-col)));
  grid-template-rows: repeat(12, var(--grid-col));
  grid-gap: var(--grid-gap);
  padding: 0 var(--grid-mrg);

  height: 100%;
  margin: 0 auto;
  max-width: var(--bp-l);
}
