@use "./screen";

:root {
  /*******************************************************
  FONT-SIZES
*******************************************************/

  --fs-m: 18px;
  --fs-l: 30px;
  --fs-xl: 36px;
  --fs-xxl: 59px;

  --fs-bold: 18px;
  --fs-btn: 16px;

  /******************************************************* 
  COLORS *******************************************************/

  --color-primary: #001afb;
  --color-secondary: #1300a5;
  --color-tertiary: #f93dc7;

  /*******************************************************  SPACES *******************************************************/
  --grid-col: 86px;
  --grid-gap: 20px;
  --grid-mrg: 74px;

  --space-xxxl: 244px;
  --space-xxl: 148px;
  --space-xl: 86px;
  --space-l: 74px;
  --space-m: 48px;
  --space-s: 28px;
  --space-xs: 20px;
  --space-xxs: 8px;
  --space-xxxs: 4px;

  /******************************************************* TRANSITIONS *******************************************************/

  --trans-fst: 0.1s;
  --trans-med: 0.15s;
  --trans-slw: 0.2s;
  --trans-xslw: 0.3s;

  /******************************************************* SIZES *******************************************************/

  --size-xs: 100px;
  --size-s: 250px;
  --size-m: 300px;
  --size-l: 400px;
  --size-xl: 500px;
}

/******************************************************* 
RESPONSIVE
*******************************************************/

@include screen.m {
  :root {
    --fs-m: 16px;
    --fs-l: 26px;
    --fs-xl: 30px;
    --fs-xxl: 39px;

    --fs-bold: 16px;
    --fs-btn: 15px;
  }
}
